.chip-input-container {
  width: 60%;
  border-bottom: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  align-items: center;

  .chip-input-wrapper {
    position: relative;
    flex: 1;

    .chip-input {
      border: none;
      display: block;
      width: 100%;
      padding: 0.4rem 0;
      background-color: #dfdfdf;

      &:focus {
        outline: none;
      }
    }

    .dropdown-wrapper {
      position: absolute;
      top: 120%;
      left: 0;
    }
  }
}
